.icon-circle-primary {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: $primary;
}
.icon-circle-secondary {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $primary;
    color: white;
}

.info-section .icon {
    color: white;
}

.drive-icon{
    width: 62px;
}