<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <!-- Header : start -->
    <header>
        <div class="d-flex flex-column flex-md-row heading justify-content-between justify-content-center 
        align-items-center px-5 py-2">
            <div class="d-flex  flex-column flex-md-row align-items-center">
                <h6 class="m-0 pe-0 text-center pe-md-4">
                    <span class="icon icon-clock-2 pe-2"></span>
                    <span class="fw-bold">Mon - Fri: 9AM-7PM</span>
                </h6>
                <h6 class="m-0 pe-0 text-center pe-md-4 mt-2 mt-md-0">
                    <span class="icon icon-location pe-2"></span>
                    <span class="fw-bold">SoHo 94 Broadway St New York, NY 10012</span>
                </h6>
            </div>
            <!-- Social links : start -->
            <div class="mt-2 mt-md-0">
                <a href="#" class="text-decoration-none">
                    <span class="icon icon-facebook"></span>
                </a>
                <a href="#" class="text-decoration-none">
                    <span class="icon icon-twitter ps-4"></span>
                </a>
                <a href="#" class="text-decoration-none">
                    <span class="icon icon-linkedin ps-4"></span>
                </a>
                <a href="#" class="text-decoration-none">
                    <span class="icon icon-rss ps-4"></span>
                </a>
                <a href="#" class="text-decoration-none">
                    <span class="icon icon-google-plus ps-4"></span>
                </a>
                <a href="#" class="text-decoration-none">
                    <span class="icon icon-youtube ps-4"></span>
                </a>
            </div>
            <!-- Social links : end -->
        </div>
        <!-- Brand info : start -->
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center p-4 p-md-5">
            <div
                class="d-flex flex-column flex-md-row justify-content-between align-items-center text-center text-md-start">
                <figure class="m-0 p-0 pe-md-2">
                    <img src="assets/img/drive.png" alt="drive" class="drive-icon h-100">
                </figure>
                <div>
                    <h3 class="bg-text-color fw-bold">SEVEN CORPORATE</h3>
                    <h6 class="sm-text-color fw-bold m-0">YOUR RELIABLE BUSINESS PARTNER</h6>
                </div>
            </div>
            <div class="mt-4 mt-md-0 text-center text-md-start">
                <h6 class="sm-text-color fw-bold">GET FREE CONSULTATION!</h6>
                <h3 class="bg-text-color fw-bold m-0">001-234-5678</h3>
            </div>
        </div>
        <!-- Brand info : end -->
    </header>
    <!-- Header : end -->
    <!-- Main : start -->
    <main>
        <!-- Navbar : start -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between border-top px-3 px-md-5 py-3">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbartoggler"
                aria-controls="navbartoggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbartoggler">
                <div class="d-flex align-items-center navlink-border justify-content-center w-100 pt-3 pt-lg-0">
                    <span class="icon icon-home pe-1"></span>
                    <div>
                        <a href="#" class="fw-bold pb-1">HOME</a>
                    </div>
                </div>
                <div class="d-flex align-items-center navlink-border justify-content-center w-100 pt-3 pt-lg-0">
                    <span class="icon icon-address pe-1"></span>
                    <div>
                        <a href="#" class="fw-bold pb-1">ABOUT AGENCY</a>
                    </div>
                </div>
                <div class="d-flex align-items-center navlink-border justify-content-center w-100 pt-3 pt-lg-0">
                    <span class="icon icon-folder pe-1"></span>
                    <div>
                        <a href="#" class="fw-bold pb-1">OUR SERVICES</a>
                    </div>
                </div>
                <div class="d-flex align-items-center navlink-border justify-content-center w-100 pt-3 pt-lg-0">
                    <span class="icon icon-news pe-1"></span>
                    <div>
                        <a href="#" class="fw-bold pb-1">NEWS</a>
                    </div>
                </div>
                <div class="d-flex align-items-center navlink-border justify-content-center w-100 pt-3 pt-lg-0">
                    <span class="icon icon-thumb pe-1"></span>
                    <div>
                        <a href="#" class="fw-bold pb-1">TESTIMONIALS</a>
                    </div>
                </div>
                <div class="d-flex align-items-center navlink-border justify-content-center w-100 pt-3 pt-lg-0">
                    <span class="icon icon-contact pe-1"></span>
                    <div>
                        <a href="#" class="fw-bold pb-1">CONTACT</a>
                    </div>
                </div>
                <div class="d-flex align-items-center navlink-border justify-content-center w-100 pt-3 pt-lg-0">
                    <span class="icon icon-search pe-1"></span>
                    <div>
                        <a href="#" class="fw-bold pb-1">SEARCH</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar : end -->
        <!-- Info : start -->
        <section>
            <div class="view-details-bg position-relative">
                <!-- Info cards : start -->
                <div class="info-cards d-sm-flex d-none">
                    <div class="info-card-1 cursor-pointer h-100 d-flex p-3 mb-3 mb-lg-0 me-0 me-lg-3">
                        <span class="fw-bold lh-sm me-2">Investment & Stock Exchange</span>
                        <span class="icon icon-small-right fs-2 text-primary"></span>
                    </div>
                    <div class="info-card-2 cursor-pointer h-100 d-flex p-3 mb-3 mb-lg-0 me-0 me-lg-3">
                        <span class="fw-bold lh-sm me-2 text-white">Business Consulting</span>
                        <span class="icon icon-small-right fs-2 text-white"></span>
                    </div>
                    <div class="info-card-3 cursor-pointer h-100 d-flex p-3 mb-3 mb-lg-0 me-0 me-lg-3">
                        <span class="fw-bold lh-sm me-2 text-white">International Banking</span>
                        <span class="icon icon-small-right fs-2 text-white"></span>
                    </div>
                    <div class="info-card-4 cursor-pointer h-100 d-flex p-3 mb-3 mb-lg-0 me-0 me-lg-3">
                        <span class="fw-bold lh-sm me-2 text-white">Finance & Banking</span>
                        <span class="icon icon-small-right fs-2 text-white"></span>
                    </div>
                    <div class="info-card-5 cursor-pointer h-100 d-flex p-3 mb-3 mb-lg-0">
                        <span class="fw-bold lh-sm me-2 text-white">Accounting & Tax Services</span>
                        <span class="icon icon-small-right fs-2 text-white"></span>
                    </div>
                </div>
                <!-- Info cards : end -->
                <!-- article section : start -->
                <div class="w-100 h-100 bg-secondary view-details">
                    <div class="details-container text-center text-sm-start">
                        <h1 class="display-2 fw-bold px-5 pt-5 pb-2">INVESTMENT & STOCK EXCHANGE</h1>
                        <p class="border-top border-5 border-warning pt-5 mx-5">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Inventore fugit asperiores
                            voluptatibus
                            ipsa nemo aliquid odio deserunt ipsam reiciendis ex, amet corrupti magni quas nulla
                            aperiam,
                            dicta accusantium maiores eveniet!</p>
                        <button class="bg-secondary text-primary border border-primary px-3 py-2 ms-0 ms-sm-5">VIEW
                            DETAILS</button>
                    </div>
                </div>
                <!-- article section : end -->
            </div>
            <!-- Info : start -->
            <div class="info-section d-flex flex-column flex-lg-row my-5 pb-4 px-4">
                <div class="py-3 py-lg-0">
                    <div class="icon-circle-primary d-flex justify-content-center align-items-center mb-4 mx-auto">
                        <span class="icon icon-flag fs-2"></span>
                    </div>
                    <h4 class="text-center mt-4 pt-2 fw-bold">12 YEARS OF EXPERIENCE</h4>
                    <p class="text-center mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum alias
                        dolorem doloribus?
                    </p>
                </div>
                <div class="py-3 py-lg-0">
                    <div class="icon-circle-primary d-flex justify-content-center align-items-center mb-4 mx-auto">
                        <span class="icon icon-users fs-2"></span>
                    </div>
                    <h4 class="text-center mt-4 pt-2 fw-bold">BEST INDUSTRY EXPERTS</h4>
                    <p class="text-center mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum alias
                        dolorem doloribus?
                    </p>
                </div>
                <div class="py-3 py-lg-0">
                    <div class="icon-circle-primary d-flex justify-content-center align-items-center mb-4 mx-auto">
                        <span class="icon icon-clock-1 fs-2"></span>
                    </div>
                    <h4 class="text-center mt-4 pt-2 fw-bold">FAST & EFFECTIVE SOLUTIONS</h4>
                    <p class="text-center mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum alias
                        dolorem doloribus?
                    </p>
                </div>
                <div class="py-3 py-lg-0">
                    <div class="icon-circle-primary d-flex justify-content-center align-items-center mb-4 mx-auto">
                        <span class="icon icon-setting fs-2"></span>
                    </div>
                    <h4 class="text-center mt-4 pt-2 fw-bold">FLEXIBLE PRICING SYSTEM</h4>
                    <p class="text-center mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum alias
                        dolorem doloribus?
                    </p>
                </div>
            </div>
            <!-- Info : end -->
            <!-- About : start -->
            <div class="d-flex bg-light flex-column">
                <div class="d-flex justify-content-center align-items-center flex-column p-3 p-md-5">
                    <span class="text-secondary display-5 fw-bold pt-4">WELCOME TO SEVEN CORPORATE!</span>
                    <div class="welcome-border-bottom mt-3 mb-4 mb-md-5"></div>
                </div>
                <div class="pb-5 px-0 d-flex flex-column flex-lg-row">
                    <!-- About company: start -->
                    <div class="px-3 px-md-5 text-center text-lg-start">
                        <div class="video-box mb-4 w-100"></div>
                        <h3 class="fw-bold">ABOUT OUR COMPANY</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eaque alias suscipit nihil
                            aliquam possimus! Itaque deserunt labore omnis suscipit porro vero ullam numquam magni
                            possimus? Officia, iste? Soluta, dolorem.</p>
                        <button class="more-button border-0 fw-bold px-3 py-1">MORE ABOUT OUR COMPANY</button>
                    </div>
                    <!-- About company: end -->
                    <!-- About info: start -->
                    <div class="px-3 px-md-5 px-lg-0 pt-5 pt-lg-0">
                        <div class="d-flex">
                            <div class="icon-circle-secondary d-flex justify-content-center align-items-center mx-auto">
                                <span class="icon icon-leaf p-5"></span>
                            </div>
                            <div class="ps-3 pe-5">
                                <h4 class="fw-bold">DIVERSITY</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit tempore
                                    similique neque inventore minima aut cum modi nobis dolores quae reiciendis
                                    ullam
                                </p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="icon-circle-secondary d-flex justify-content-center align-items-center mx-auto">
                                <span class="icon icon-respect p-5"></span>
                            </div>
                            <div class="ps-3 pe-5">
                                <h4 class="fw-bold">RESPECT</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit tempore
                                    similique neque inventore minima aut cum modi nobis dolores quae reiciendis
                                    ullam
                                </p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="icon-circle-secondary d-flex justify-content-center align-items-center mx-auto">
                                <span class="icon icon-stack p-5"></span>
                            </div>
                            <div class="ps-3 pe-5">
                                <h4 class="fw-bold">TRANSPARENCY</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit tempore
                                    similique neque inventore minima aut cum modi nobis dolores quae reiciendis
                                    ullam
                                </p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="icon-circle-secondary d-flex justify-content-center align-items-center mx-auto">
                                <span class="icon icon-integrity p-5"></span>
                            </div>
                            <div class="ps-3 pe-5">
                                <h4 class="fw-bold">INTEGRITY</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit tempore
                                    similique neque inventore minima aut cum modi nobis dolores quae reiciendis
                                    ullam
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- About info: end -->
                    <!-- Contact info : start -->
                    <div class="container-fluid px-3 px-lg-0">
                        <div id="contactInfo" class="carousel slide " data-interval="false" data-bs-ride="carousel">
                            <div class="carousel-inner pe-0 pe-lg-5">
                                <div class="carousel-item active">
                                    <div class="py-5 bg-white">
                                        <figure class="d-flex justify-content-center mb-4">
                                            <img src="/assets/img/avatar.jpg" alt="avatar" class="avatar-circle">
                                        </figure>
                                        <div class="d-flex">
                                            <div class="slider-btn me-2">
                                                <span class="icon icon-big-left fs-4 cursor-pointer" role="button" data-bs-target="#contactInfo"
                                                data-bs-slide="prev"></span>
                                            </div>
                                            <div>
                                                <h4 class="text-center bg-text-color fw-bold">MIRIAM GREENWOOD</h4>
                                                <h6 class="text-center bg-text-color fw-bold">Consultant</h6>
                                                <p class="text-center">Lorem ipsum dolor sit amet consectetur
                                                    adipisicing elit.
                                                    Sequi
                                                    totam minima ipsum cum
                                                    dolores qui numquam tempore sit odit iste. Tenetur aspernatur
                                                    pariatur
                                                    accusantium
                                                    dolores neque excepturi repellendus iusto natus.</p>
                                                <h6 class="text-center bg-text-color fw-bold">TEL. 001 234 56 789</h6>
                                                <h6 class="text-center sm-text-color fw-bold">MARIAM@YOURWEBSITE.COM
                                                </h6>
                                            </div>
                                            <div class="slider-btn ms-2">
                                                <span class="icon icon-big-right fs-4 cursor-pointer" role="button" data-bs-target="#contactInfo"
                                                data-bs-slide="next"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="py-5 bg-white">
                                        <figure class="d-flex justify-content-center mb-4">
                                            <img src="/assets/img/avatar.jpg" alt="avatar" class="avatar-circle">
                                        </figure>
                                        <div class="d-flex">
                                            <div class="slider-btn me-2">
                                                <span class="icon icon-big-left fs-4 cursor-pointer" role="button" data-bs-target="#contactInfo"
                                                data-bs-slide="prev"></span>
                                            </div>
                                            <div>
                                                <h4 class="text-center bg-text-color fw-bold">MIRIAM GREENWOOD</h4>
                                                <h6 class="text-center bg-text-color fw-bold">Consultant</h6>
                                                <p class="text-center">Lorem ipsum dolor sit amet consectetur
                                                    adipisicing elit.
                                                    Sequi
                                                    totam minima ipsum cum
                                                    dolores qui numquam tempore sit odit iste. Tenetur aspernatur
                                                    pariatur
                                                    accusantium
                                                    dolores neque excepturi repellendus iusto natus.</p>
                                                <h6 class="text-center bg-text-color fw-bold">TEL. 001 234 56 789</h6>
                                                <h6 class="text-center sm-text-color fw-bold">MARIAM@YOURWEBSITE.COM
                                                </h6>
                                            </div>
                                            <div class="slider-btn ms-2">
                                                <span class="icon icon-big-right fs-4 cursor-pointer" role="button" data-bs-target="#contactInfo"
                                                data-bs-slide="next"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Contact info : end -->
                </div>
            </div>
            <!-- About : end -->
        </section>
    </main>
    <!-- Main : end -->
</body>

</html>